<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/static/aboutUs.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>
<body>
    <header>
        
        <a href="{{ url_for('home') }}">
            <img src="{{url_for('static', filename='Assets/logo.png')}}">
        </a>
    
        <ul class="navbar">
            <li>
                <a href="{{ url_for('home') }}" id="utama">Home</a>
            </li>
    
            <li>
                <a href="{{ url_for('pred') }}" id="space">Indication Diagnosis</a>
            </li>
    
            <li>
                <a href="{{ url_for('doctor') }}" id="space">Doctors</a>
            </li>
    
            <li>
                <a href="{{ url_for('aboutus') }}" id="space">About</a>
            </li>

            <li>
                <a href="{{ url_for('profile') }}" id="space">Profile</a>
            </li>
        </ul>
        
        <div>
            <a href="{{ url_for('login') }}" target="_blank"> 
                <button id="login">Log in</button>
            </a>
            <a href="{{ url_for('signup') }}" target="_blank"> 
                <button id="signUp">Sign up</button>
            </a>
        </div>
        
    </header>


    <div class="section1">
        <div id="text_section1">
            <h2>Welcome to RespiTune,</h2>
            <p>
                    the innovative solution for diagnosing respiratory diseases through sound <br>
                    analysis. We emerge as a response to the increasing challenges in early <br>
                    detection of respiratory illnesses, which continue to be a global health burden. <br>
                    With a focus on advancements in sound recognition technology, we are <br>
                    determined to provide easy, fast, and accurate access to diagnosing your <br>
                    respiratory conditions.
            </p>
        </div>

        <img src="{{url_for('static', filename='Assets/logo_about.png')}}" alt="">
            
    </div>

    <div class="section2">
        <div id="content">
            <img src="{{url_for('static', filename='Assets/section2_about.png')}}" alt="">

            <div id="text_section2">
                <span>at </span> 
                <span class="blue-text">RespiTune,</span>
                <p>
                    we understand that timely diagnosis and good accessibility are key to <br>
                    managing respiratory diseases. That's why we are committed to developing an <br>
                    application that not only offers practical solutions but also helps expedite the <br>
                    diagnostic process and enhance your quality of life.
                </p>
            </div>
        </div>     
    </div>

    <div class="section3">
        <span class="blue-text">Join us at RespiTune </span>
        <span>
            for a smarter and better <br>
            respiratory health experience.
        </span>

        <p>
            With our dedicated team of experts and cutting-edge technology, we strive to deliver <br>
            the best service to our users. We believe that RespiTune is not just an application but <br>
            also a partner in your healthcare journey.
        </p>
    </div>


    <footer>
        <div class="logoInfo">
            <img src="{{url_for('static', filename='Assets/logo.png')}}" alt="">
            <p>
                RespiTune always try to provide the most common of get the proper are for cure Healthcare treatment
            </p>
        </div>

        <div class="info" id="company">
            <h2>Company</h2>
            <p>About us</p>
            <p>Doctors</p>
            <p>Our team</p>
            <p>Contact us</p> 
        </div>

        <div class="info" id="contact">
            <h2>Contact info</h2>
            <p>
                Jl. Pahwalan apa aja No. 123, 
                Bandung, Jawa Barat
            </p>
            <p>
                info@examplesite.com <br>
                www.examplesite.com
            </p>
            <p>+62 123 4567 9892</p>
        </div>
    </footer>
</body>
</html>