<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor List</title>
    <link rel="stylesheet" href="\static\doctorstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
        <a href="{{ url_for('home') }}">
            <img src="{{url_for('static', filename='Assets/logo.png')}}">
        </a>
    
        <ul class="navbar">
            <li>
                <a href="{{ url_for('home') }}" id="utama">Home</a>
            </li>
    
            <li>
                <a href="{{ url_for('pred') }}" id="space">Indication Diagnosis</a>
            </li>
    
            <li>
                <a href="{{ url_for('doctor') }}" id="space">Doctors</a>
            </li>
    
            <li>
                <a href="{{ url_for('aboutus') }}" id="space">About</a>
            </li>

            <li>
                <a href="{{ url_for('profile') }}" id="space">Profile</a>
            </li>
        </ul>
        
        <div>
            <a href="{{ url_for('login') }}" target="_blank"> 
                <button id="login">Log in</button>
            </a>
            <a href="{{ url_for('signup') }}" target="_blank"> 
                <button id="signUp">Sign up</button>
            </a>
        </div>
        
    </header>


    <div class="doctor-slides">
        <div class="card-container">
  
            <button class="prev-btn"><i class="fas fa-chevron-left"></i></button>
        
                <div class="card">            
                        <div class="doctor-card">
                        <img src="" alt="Doctor Picture" class="doctor-pic">
                            <div class="doctor-info">
                                <h3>Dr. Lorem Ipsum</h3>
                                <p><i class="fas fa-briefcase"></i> 10 years <i class="fas fa-star"></i> 4.9/5</p>
                                <p><button class="transparent-button">Contact</button></p>
                            </div>
                    </div>
                </div>
        
                    <div class="card">
                        <img src="" alt="Doctor Picture" class="doctor-pic">
                        <div class="doctor-info">
                            <h3>Dr. Lorem Ipsum </h3>
                            <p><i class="fas fa-briefcase"></i> 8 years <i class="fas fa-star"></i> 4.8/5</p>
                            <p><button class="transparent-button">Contact</button></p>
                        </div>
                    </div>
        
                    <div class="card">
                        <img src="" alt="Doctor Picture" class="doctor-pic">
                        <div class="doctor-info">
                            <h3>Dr. Lorem Ipsum </h3>
                            <p><i class="fas fa-briefcase"></i> 12 years <i class="fas fa-star"></i> 4.7/5</p>
                            <p><button class="transparent-button">Contact</button></p>
                        </div>
                    </div>
        
                </div>
                <button class="next-btn"><i class="fas fa-chevron-right"></i></button>
            </div>
        
    </div>

    <footer>
        <div class="logoInfo">
            <img src="{{url_for('static', filename='Assets/logo.png')}}" alt="">
            <p>
                RespiTune always try to provide the most common of get the proper are for cure Healthcare treatment
            </p>
        </div>

        <div class="info" id="company">
            <h2>Company</h2>
            <p>About us</p>
            <p>Doctors</p>
            <p>Our team</p>
            <p>Contact us</p> 
        </div>

        <div class="info" id="contact">
            <h2>Contact info</h2>
            <p>
                Jl. Pahwalan apa aja No. 123, 
                Bandung, Jawa Barat
            </p>
            <p>
                info@examplesite.com <br>
                www.examplesite.com
            </p>
            <p>+62 123 4567 9892</p>
        </div>
    </footer>

</body>
</html>    
