<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> profile setting </title>
    <link rel="stylesheet" href="/static/profilestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>

</head>
<body>
    <header>
        
        <a href="{{ url_for('home') }}">
            <img src="{{url_for('static', filename='Assets/logo.png')}}">
        </a>
    
        <ul class="navbar">
            <li>
                <a href="{{ url_for('home') }}" id="utama">Home</a>
            </li>
    
            <li>
                <a href="{{ url_for('pred') }}" id="space">Indication Diagnosis</a>
            </li>
    
            <li>
                <a href="{{ url_for('doctor') }}" id="space">Doctors</a>
            </li>
    
            <li>
                <a href="{{ url_for('aboutus') }}" id="space">About</a>
            </li>

            <li>
                <a href="{{ url_for('profile') }}" id="space">Profile</a>
            </li>
        </ul>
        
        <div>
            <a href="{{ url_for('login') }}" target="_blank"> 
                <button id="login">Log in</button>
            </a>
            <a href="{{ url_for('signup') }}" target="_blank"> 
                <button id="signUp">Sign up</button>
            </a>
        </div>
        
    </header>

    <div class="realbody">
        <div class="profile-container">
        <div class="profile-picture">
            <img src="{{url_for('static', filename='profile-picture.jpg')}}" class="profile-pic" alt="" >
            <i class="fas fa-pencil-alt edit-profile"></i>
        </div>
        
        <div class="profile-info">
            <h3 class="profile-name"> Bagas Tandri </h3>
            <h4 class="profile-role"> Patient </h4>
        </div>

        <form id="profile-form">
            <div class="setting-row">
                <div class="input-container">
                    <label for="firstName">First Name:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-user"></i>
                        <input type="text" id="firstName" name="firstName" required placeholder="Please enter your first name">
                    </div>
                </div>
                <div class="input-container">
                    <label for="lastName">Last Name:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-user"></i>
                        <input type="text" id="lastName" name="lastName" required placeholder="Please enter your last name">
                    </div>
                </div>
            </div>

            <div class="setting-row">
                <div class="input-container">
                    <label for="Phonenum">Phone Number:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-phone-alt"></i>
                        <input type="tel" id="Phonenum" name="Phonenum" required placeholder="Please enter your phone number">
                    </div>
                </div>
                <div class="input-container">
                    <label for="birth">Birthday:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-calendar-alt"></i>
                        <input type="date" id="birth" name="birth" required>
                    </div>
                </div>
            </div>

            <div class="setting-row">
                <div class="input-container">
                    <label for="address">Address:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-home"></i>
                        <input type="text" id="address" name="address" required placeholder="Please enter your address">
                    </div>
                </div>
                <div class="input-container">
                    <label for="region">Region:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-map-marker-alt"></i>
                        <input type="text" id="region" name="region" required placeholder="Please enter your region">
                    </div>
                </div>
            </div>

            <div class="setting-row">
                <div class="input-container">
                    <label for="email">Your Email:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-envelope"></i>
                        <input type="email" id="email" name="email" required placeholder="Please enter your email">
                    </div>
                </div>
                <div class="input-container">
                    <label for="password">Password:</label>
                    <div class="input-wrapper">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" required placeholder="Please enter your password">
                    </div>
                </div>
            </div>
            
        </form>
        <div class="befr">
        <button type="submit" class="transparent-button">Save Changes</button>
        <button type="button" class="transparent-button">Log Out</button>
        </div>

    </div>
    <script src="script.js"></script>
</div>
    
</body>
</html>