*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish";
    text-decoration: none;
    list-style: none;
    align-items: center;
}

header{
    width: 100%;
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E5F2FF;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.navbar #space{
    margin-left: 52px;
}

.navbar #utama{
    color: #377DFF;
}

.navbar a{
    color: #9B9797;
}

button{
    width: 83px;
    height: 33px;
    border-radius: 13px;
}

#login{
    border: 2px solid;
    outline-color: #377DFF;
    color: #377DFF;
    background-color: #E5F2FF;
}

#signUp{
    background-color: #377DFF;
    color: #E5F2FF;
    border-style: none;
    outline-color: #377DFF;
} 

#content{
    padding: 100px 0px 78px 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#content h2{
    font-size: 20px;
}

#content h1{
    font-size: 48px;
}

#content a{
    color: #E5F2FF;
    padding:7px 8px;
    margin-top: 31px;
    background-color: #377DFF;
    border-radius: 11px;
    text-align: center;
}

#gambar{
    margin-top: 81px;
    display: flex;
    flex-direction: row;
}

#gambar img{
    margin-right: 40px;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    background-color: #E5F2FF;
}

#consult{
    margin-top: 100px;
    
}

.section2{
    margin: 88px 0px 88px;
    background-color: #ffffff;
    width: 100%;
}

#judul_h2{
    font-size: 18px;
    text-align: center;
}

#judul_h1{
    font-size: 32px;
    color: #377DFF;
    text-align: center;
}

#content_section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 112px 0px 111px;;
}

#text_section2 h2{
    font-size: 26px;
}
#text_section2 p{
    color: #9B9797;
    margin: 10px 0px 31px;
    font-size: 18px;
}

#text_section2 a{
    color: #E5F2FF;
    padding:7px 9px;
    background-color: #377DFF;
    border-radius: 11px;
}

.section3{
    background-color: #E5F2FF;
    height: 267px;
    border-radius: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#konten h1{
    font-size: 36px;
    font-weight: bold;
    color: #377DFF;
    text-align: center;
}

#konten p{
    font-size: 24px;
    text-align: center;
}

#viewAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 27px;
}

#ourDoctor{
    font-size: 18px;
}

#view{
    color: #377DFF;
}

.section4 h1{
    color: #377DFF;
    font-size: 32px;
    font: bold;
}

.doctors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#gambarDok{
    max-width: 100%;
    height: 309px;
    border-bottom-style: solid;
    border-width: 1px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#doctor{
    width: 328px;
    height: 484px;
    border-style: solid;
    border-width: 1px;
    border-radius: 17px;
    margin-top: 43px;
}

#doctor h2{
    font-size: 24px;
    margin-left: 23px;
    margin-top: 34px;
}

#doctor p{
    font-size: 20px;
}

#achvInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 38px;
}

#achv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section4{
    margin: 138px 81px 69px 81px;
}

footer{
    max-width: 100%;
    height: 400px;
    background-color:  #E5F2FF;
    display: flex;
    flex-direction: row;
    border-radius: 51px 51px 0px 0px;
    justify-content: space-between;
    align-items: stretch;
}

.logoInfo{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #9B9797;
    gap: 27px;
    align-items: start;
    margin-left: 186px;
    margin-top: 111px;
}

footer h2{
    font-size: 20px;
    font: bold;
}

footer p{
    font-size: 16px;
    color: #9B9797;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
    gap: 18px;
    align-items: start;
}

#company{
    margin-left: 417px;
}

#contact{
    width: 100%;
    margin-left: 143px;
    margin-right: 194px;
}